*{
	color: #003B27
}

header{
	border-bottom: #003B27 solid 5px;
}

header, footer {
	text-align: right;
}

h1 {
	text-align: center;
}


.custom-restricted {
    height: 35rem;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
}

div {
	text-align: center;
	padding-bottom: 5rem;
}

img {
	height: 25rem;
	width: 25rem;
}

main {
	background-image:url(Background.jpg);
	padding:2px;
}

footer{
	padding-top: 1rem;
	text-align: left;
	font-size: small;
	border-top: #003B27 solid 5px;
}

.footerContainer{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
